body{
		font: 62.5% "Trebuchet MS", sans-serif;
		margin: 50px;
		background:url(images/Basic.jpg);
		background-size: 100% auto;
	}
	.demoHeaders {
		margin-top: 2em;
	}
	#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	.dropbox:hover
	{
		padding:255px 80px 255px 80px;
		text-decoration:none;
		border:4px dotted black;
	}
	.dropbox
	{
		padding:255px 80px 255px 80px;
		border:1px dashed black;
	}
	h1.inline {
	display: inline;
	}
	
	h1.short {
	line-height: 30%;
	}
	
	h1.styled {
	font: bold 32px monospace;
	color: #cc3300;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;
	}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}